.title {
  height: 115px;
  overflow:hidden;  
  font-family:Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight:bold;
  text-overflow: ellipsis;
  vertical-align: 6px;
  font-size: 95px;
}

.title img{
   max-width: 90px;
   height: auto;
}

.bigarea {
  position:relative;
  height:55%;
}

.bigarea img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width : 96%;
  max-height : 96%;
}

.area {
  height:15%;
  display: flex;
  font-family:Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;;
  font-weight:bold;
  color:#FFF;
  font-size: 42px;
}

.area img{
  max-width: 75px;
  max-height: 75px;
  height: auto;
  width: auto;
}

.areasub {
  height:42%;
  display: flex;
  font-family:Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;;
  font-weight:bold;
  color:#FFF;
  font-size: 45px;
}

.areasub img{
  max-width: 75px;
  max-height: 75px;
  height: auto;
  width: auto;
}


.textarea {
  height:25%;
  background: #070942;
  border-radius: 10px;
}

.textareapink {
  height:55%;
  background: #c15986;
  border-radius: 10px;
}

.textareagreen {
  height:55%;
  background: #3d8e3f;
  border-radius: 10px;
}

.textareablue {
  height:55%;
  background: #1f86b7;
  border-radius: 10px;
}

.textareayellow {
  height:55%;
  background: #aa8c20;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-auto-rows: calc(16.6667vh - 38px);
  gap: 10px 10px;
}

.photo {
  grid-row: 1 / 3;
  background: #0e106b;
  border-color: #fa0;
  padding: 12px;
  border-radius: 15px;
}

.item1 {
  grid-row: 3 / 4;
  background: #e86fa4;
  padding: 12px;
  border-radius: 15px;
}

.item2 {
  grid-row: 4 / 5;
  background: #57bf5a;
  padding: 12px;
  border-radius: 15px;
}

.item3 {
  grid-row: 5 / 6;
  background: #26a6e2;
  padding: 12px;
  border-radius: 15px;
}
.item4 {
  grid-row: 6 / 7;
  background: #dbb52b;
  padding: 12px;
  border-radius: 15px;
}
body {
  padding: 10px;
  font-family: sans-serif;
}

.marquee {
  overflow: hidden;
  position: relative;
  color:#FFF;
  font-size:4.8vh;
}

.marquee::after {
  content: "";
  white-space: nowrap;
  display: inline-block;
}

.marquee > .marquee-inner {
  position: absolute;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

.marquee > .marquee-innera {
  position: absolute;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 14s;
  animation-iteration-count: infinite;
}

.marquee > .marquee-innerb {
  position: absolute;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 13s;
  animation-iteration-count: infinite;
}

.marquee > .marquee-innerc {
  position: absolute;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

.marquee > .marquee-innerd {
  position: absolute;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes marquee {
    0% { left: 105%; transform: translate(0); }
  100% { left: 0; transform: translate(-105%); }
}

